@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light only;
  }

  :root {
    --background: 0 0% 94.5%;
    --foreground: 220 14% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 14% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 14% 10%;
    --primary: 82 85% 67%;
    --primary-foreground: 0 0% 0%;
    --secondary: 27 96% 61%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 8% 95%;
    --muted-foreground: 220 8% 46%;
    --accent: 220 8% 95%;
    --accent-foreground: 220 12% 20%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 8% 90%;
    --input: 220 8% 90%;
    --ring: 82 85% 67%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}



/* Material Symbols */
.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}